.hidden {
    display: none;
}

/* #region Common styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    /*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

    /* Common */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
    border: 1px solid red;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion Common styles */

/* #region Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.menu-burger-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.menu-burger-icon {
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .menu-burger-btn {
        display: none;
    }
    
    .header-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .logo.header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .nav-link {
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            transition: color var(--animation);
    }
    
    
    .nav-link.current {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #404bbf;
            position: relative;
    }
    
    .nav-link.current::after {
            content: "";
            width: 100%;
            left: 0;
            bottom: -1px;
            border-radius: 2px;
            width: 48px;
            height: 4px;
            background-color: #404bbf;
            position: absolute;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color var(--animation);
    }
   
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }

}

@media screen and (min-width: 1158px) {
    .logo.header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/***** Mobile menu******/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity var(--animation); visibility: var(--animation);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    transition: background-color var(--animation), border var(--animation);
}

.mobile-menu-close-btn-icon {
    fill: var(--navy-blue);
    transition: fill var(--animation);
}

.mobile-menu-close-btn:focus,
.mobile-menu-close-btn:active {
    background-color: var(--ocean);
    border: none;
}

.mobile-menu-close-btn:focus .mobile-menu-close-btn-icon,
.mobile-menu-close-btn:active .mobile-menu-close-btn-icon {
    fill: #ffffff;
}

.mobile-menu-nav {
    margin-bottom: auto;
    width: 151px;
    height: 200px;
    text-align: start;
    margin-right: auto;
}

.mobile-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color var(--animation);
}

.mobile-menu-nav-link.current {
    color: #404bbf;
}

.mobile-menu-nav-link:focus,
.mobile-menu-nav-link:active {
    color: #4d5ae5;
}

.mobile-menu-contacts {
    font-style: normal;
    margin-right: auto;
    margin-bottom: 48px;
}

.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color var(--animation);
}

.mobile-menu-contacts-link:focus,
.mobile-menu-contacts-link:active {
    color: #4d5ae5;
}

.mobile-menu-social-container {
    max-width: 280px;
    margin-right: auto;
}

.mobile-menu-social-list {
    display: flex;
    gap: 40px;
}

.mobile-menu-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color var(--animation);
}

.mobile-menu-social-link:focus, 
.mobile-menu-social-link:active {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #endregion Header */


/* #region Hero */

.hero {
    background-color: #2e2f42;
    max-width: 320px;
    height: 432px;
    color: #fff;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero .container{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.hero-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 216px;
    height: 160px;
    margin-left: 52px;
    margin-right: 52px;
    color: #fff;
}

.hero-btn {
    display: block;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color var(--animation);

}

.hero-btn:active,
.hero-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        height: 436px;
        padding-top: 112px;
        padding-bottom: 112px;
        }

        .hero .container {  
            gap: 36px;
        }

    .hero-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        }

    .hero-btn:hover {
        background-color: #404bbf;
        }
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1400px;
        height: 600px;
        padding-top: 188px;
        padding-bottom: 188px;
        }

    .hero .container {
        gap: 48px;
        }
}

/* #endregion Hero */


/* #region Features */

.features {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-img {
    display: none;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-list-item {
    width: 100%;
}

.features-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;  
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features {
        max-width: 768px;
        }
    
    .features-list {
        gap: 24px;
        row-gap: 72px;
        }

    .features-list-item {
        width: calc((100% - 24px) / 2);
        }

    .features-subtitle {
        text-align: left;
        }
}

@media screen and (min-width: 1158px) {
    .features {
        max-width: 1158px;
        }

    .features-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        }

    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
        }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;     
        }

    .features-text {
        font-weight: 400;
        }
}

/* #endregion Features */


/* #region Team */

.team {
    background-color: #f4f4fd;
    max-width: 320px;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-list-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
    padding-top: 32px;
    padding-bottom: 32px;
    justify-items: center;
    align-items: center;
}

.team-container-list {
    max-width: 232px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-container-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color var(--animation);
}

.team-social-link:active,
.team-social-link:focus {
    background-color: #404bbf;
    cursor: pointer;
}

.team-social-icon {
    fill: #f4f4fd;
}

.social-icon-svg {
    fill: #f4f4fd;
}


.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .team {
        max-width: 768px;
        }

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
        }

    .team-social-link:hover {
            background-color: #404bbf;
            cursor: pointer;
        }
}

@media screen and (min-width: 1158px) {
    .team {
        max-width: 1158px;
        }

    .team-list {
        flex-wrap: nowrap;
        }
}

/* #endregion Team */


/* #region Portfolio */

.portfolio {
    max-width: 320px;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.portfolio-list-item {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio-container {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
    background: #fff;
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}


.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--animation);
}

.portfolio-list-item:focus .overlay-text {
    transform: translateY(0%);
    cursor: pointer;
    height: 300px;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio {
        max-width: 768px;
        }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
        }
    
    .portfolio-list-item {
        width: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px) {
    .portfolio {
        max-width: 1158px;
        padding-top: 120px;
        padding-bottom: 120px;
        }

    .portfolio-list {
        row-gap: 48px;
        }
    
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow var(--animation);
        }

    .portfolio-list-item:hover .overlay-text {
        transform: translateY(0%);
        cursor: pointer;
        height: 300px;
        }

    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
}

/* #endregion Portfolio */


/* #region Footer */

.page-footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
}

.page-footer .container {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 72px;
}

.footer-logo-container {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.logo.footer-logo {
    display: inline-block;
    width: 116px;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    text-align:left
}


.footer-social-container {
    max-width: 208px;
    margin-left: 56px;
    margin-right: 56px;
    text-align: center;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list-item {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color var(--animation);
}

.footer-social-link:active,
.footer-social-link:focus {
    background-color: #31d0aa;
    cursor: pointer;
}

.footer-social-svg {
    fill: #f4f4fd;
}

.footer-subscribe-container {
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}

.subscribe-container-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.subscribe-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    background-color: transparent;
    color: #fff;
}

.subscribe-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    padding-top: 8px;
}

.subscribe-btn {
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 64px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    position: relative;
    transition: background-color var(--animation);
}

.subscribe-btn:active,
.subscribe-btn:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .page-footer {
        max-width: 768px;
        padding-left: 108px;
        padding-right: 108px;
        }

    .page-footer .container {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;  
        padding-left: 0;
        padding-right: 0;   
        }

    .footer-logo-container {
        max-width: 264px;
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        }

    .footer-social-container {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
        }

    .footer-social-link:hover {
        background-color: #31d0aa;
        cursor: pointer;
        }

    .footer-subscribe-container {
        max-width: 453;
        margin-left: 0;
        margin-right: 0;
        }

    .subscribe-form {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
        }

    .subscribe-container-title {
        text-align: left;
        }

    .subscribe-btn:hover {
        background-color: #404bbf;
        }
}


@media screen and (min-width: 1158px) {
    .page-footer {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 156px;
        padding-right: 159px;
        max-width: 1158px;
        }

    .page-footer .container {
        align-items: baseline
        }

    
}





/* #endregion Footer */


/* #region Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation), visibility var(--animation);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding-top: 72px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    transition: transform var(--animation);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    transition: background-color var(--animation), border var(--animation);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--ocean);
    border: none;
}

.close-btn-icon {
    fill: var(--navy-blue);
    stroke: var(--navy-blue);
    transition: fill var(--animation);
}

.modal-close-btn:hover .close-btn-icon,
.modal-close-btn:focus .close-btn-icon {
    fill: #ffffff;
    stroke: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form {}

.modal-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    cursor: pointer;
    display: block;
}

.modal-field {
    position: relative;

}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color var(--animation);
}

.modal-input:focus {
    border-color: var(--iris);
}

.modal-input:focus+.modal-icon {
    fill: var(--iris);
    stroke: var(--iris);
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    stroke: var(--navy-blue);
    transition: fill var(--animation);
}

.modal-wrapper-textarea {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color var(--animation);
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border-color: var(--iris);
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.checkbox-wrapper .checkbox-input {
    display: flex;
    flex-shrink: 1;
}

.checkbox-label-privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color var(--animation), border var(--animation), fill var(--animation);
}

.checkbox-input:checked+.checkbox-label-privacy>.custom-checkbox {
    border-radius: 2px;
    fill: #F4F4FD;
    border: none;
    background-color: var(--ocean);
}

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-send-btn {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: background-color var(--animation);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }

}

/* #endregion Modal window */